// .navbar-brand img{
//     height: 60px;
//     font-size: 20px;
    
// }
.navbar-brand{

    font-size: 36px;
    color: #fca311;
}
.header{

    //background-image: url(../../../assets/images/816149.jpg);
    background-color: transparent;
    height: 10vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    z-index: 100;
}

.navbar-scroll {
	background: #fca311;
	padding: 0;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    transition-duration: 0.8s;
    *{
        color: #023047;
    }
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}

.lname-logged-in mat-button{
    font-size: 20px;
}